* {

  text-align: center;
  font-size: 40px;

}

body {
  background-color: #000;
}

img {

    height: 250px;
    width: 250px;
}

h1 {
  color: #fff;
  margin-top: 100px;
}

#googleMap {
  margin: 100px auto;
  border-radius: 100%;
}
